@use "../util" as u;

.header {
  display: flex;
  justify-content: space-between;
  padding-block: u.rem(30);

  @media (width>=u.em(1110)) {
    // 一般用 padding 来设置父元素和子元素的距离
    // 用 margin 来设置兄弟元素之间的距离
    //padding-block-start, padding-block-end
    padding-block: u.rem(90) u.rem(55);
  }

  &__logo {
    width: u.rem(45);
    @media (width >= u.em(1110)) {
      width: u.rem(64);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: u.rem(24);

    @media (width>=u.em(1110)) {
      flex-direction: row;
      gap: u.rem(40);
    }
    //因为 flex-direction 默认是 row，如果媒体查询是 @media (width < u.em(1110)) 可以省下flex-direction: row 这行。
  }

  &__link {
    text-transform: capitalize;
    color: var(--c-blue);
    font-size: var(--f-xs);
    // 24 ÷ 18 ≈ 1.3
    line-height: 1.3;

    @media (width >= u.em(1110)) {
      font-size: var(--f-body);
      color: var(--c-gray);
    }
    &:hover {
      color: var(--c-red);
    }
  }
}
