@use "../util" as u;

.header {
  @media (width>=u.em(1100)) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // 用padding 而不是 margin 来设置到顶部和底部的距离。
    //padding-block-start, padding-block-end
    padding-block: u.rem(90) u.rem(55);
  }

  &__logo {
    width: u.rem(45);
    @media (width >= u.em(1110)) {
      width: u.rem(64);
    }
  }

  &__links {
    @media (width>=u.em(1100)) {
      display: flex;
      gap: u.rem(40);
    }
  }

  &__link {
    text-transform: capitalize;
    color: var(--c-blue);
    font-size: var(--f-xs);
    // 24 ÷ 18 ≈ 1.3
    line-height: 1.3;

    @media (width >= u.rem(1110)) {
      font-size: var(--f-body);
      color: var(--c-gray);
    }
    &:hover {
      color: var(--c-red);
    }
  }
}
